
html{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	webkit-text-size-adjust: none;
}

body {
	background-color: #313335;
}


input{
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #9F9F9F;
	color: transparent;
	text-shadow: 0 0 0 #9F9F9F;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	height: 46px;
	transition: all 0.4s ease;
	width: 100%;
	outline: none;

}

input.hideSearch {
	border-color: rgba(159, 159, 159, 0.1);
	opacity: 1;
	outline: none;
}

input.showSearch {
	border-color: rgba(159, 159, 159, 1);
}

#search {
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 620px;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

#bookmarks {
	margin: 20px auto 100px auto;
	width:640px;
}

@media (max-width: 700px) {
	#bookmarks {
		width: 91.42857143%;
	}

	#search {
		width: 91.42857143%;
	}
}

img {
	width:100%;
	height:100%;
}

#bookmark-list {
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#section-icon {
	display:flex;
	width:75px;
	height: 75px;
	padding-top:35px;
	margin-right: 14px;
	margin-left: 14px;
	justify-content: center;
	align-items: center;
}

#section-icon img {
	width:50px;
	height:50px;
}


#bookmark-icon-item {
	padding-top:35px;
	display:inline-block;
	width:75px;
	margin-right: 14px;
	margin-left: 14px;
}

#bookmark-icon img {
	border-radius: 10px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
	transition: .3s ease;
}

#bookmark-icon:hover img {
	box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.6);
}